*{box-sizing: border-box;}
header{
    background-image: url(homephoto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    width:100%;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}
/* Style the top navigation bar */ 
.topnav{
    overflow:hidden;
    width:100%;
}
.topnav a {
    float:right;
    text-align: center;
    text-decoration: none;
    color:black;
    font-family:'Lucida Sans';
    padding:7px;
}
/* Changing color on hover */
.topnav a:hover{
    color:lightslategray
}
.DDlogo{
    width:50px;
    height:50px;
    padding:5px;
    float:left;
}

/* Creating two unequal columns that floats next to each other */
.leftcolumn{
    float: left;
    width: 50%;
    padding:5px;
}
.rightcolumn{
    float:left;
    width:50%;
    padding:5px
}
.card{
    padding: 10px;
    margin-top: 20px;
}
/* Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    text-align: center;
    padding:20px;
    color: black;
}
.photo1{
    padding-left: 70px;
}
h2{
    font-size:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
}

/* Responsive layouto- when the screen is less than 1000px wide */
@media screen and (max-width: 1000px){
    header{
        float:left;
        max-width:100%;
    }
    .leftcolumn{
        float:left;
        width: 100%;
    }
    .rightcolumn{
        float: left;
        width:100%;
    }
    .footer{
        float:left;
        width:100%;
    }
}

/* Responsive layouto- when the screen is less than 600px wide */
@media screen and (max-width: 600px) {
    header{
        background-size:cover;
        background-position:center;
    }
    .leftcolumn, .rightcolumn, .footer{
        float:left;
        width:100%;
    }
}